# SQL Config
BoardZ__DbConnectionString=string

# IdentityServer Config
BoardZ__IdSrvUrl=string
BoardZ__IsHttpsRequired=bool
BoardZ__IdSrvAudience=string

# SendGrid Config
BoardZ__SendGridApiToken=string
BoardZ__MailRecipient=string

# ASP.NET Config
ASPNETCORE_ENVIRONMENT=string (Production|Development)
ApplicationInsights__InstrumentationKey=string